body{
	font-family: 'Montserrat', sans-serif;
}

main{
	min-height: 100vh;
}

main div.row{
	margin: 4rem 0;
}

main .row .col-lg-4.col-md-4.col-sm-4.col-12.m-auto{
	width: 478px;
}

a{
	color: #D90B0B;
	text-decoration: none;
}
a.back-arrow {
    position: absolute;
    top: 20px;
    left: 26px;
    font-size: 30px;
    color: black;
}
a.back-arrow:hover{
	color: rgb(17, 12, 12);
}
a:hover{
	color: #b80808;
}

.form-check-input{
	border-radius: 0!important;
}

.form-check-input:checked {
    background-color: #57D024;
    border-color: #57D024;
    border-radius: unset;
}

.card{
	min-height: 550px;
	border:2px solid #C0C0C0;
	border-radius: 0;
	font-size: 16px;
}

.card .card-body {
    padding: 0 2.5rem 2.5rem;
}
.card .card-brand{
	text-align: center;
	padding: 35px 0 20px;
}

.card .card-desc {
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: black;
    text-align: justify;
	line-height: 30px;
}

.card .card-brand .card-brand-text {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
}

.btn-success{
	background: #57D024;
	border-color: #57D024;
	border-radius: 0;
}

.btn-success:hover{
	background: #57D024;
	border-color: #57D024;;
}

.form-group{
	margin-bottom: 25px;
}

.form-control{
	border-radius: unset;
	border: 1.5px solid #E5E5E5;
	padding: 14px;
}

.remember-box{
	margin-bottom: 25px;
}

.card .forget-pass{
	margin-top: 25px;
}

.text-danger .error {
    font-size: 12px;
	padding-top: 5px;
}

#reverif:hover{
	cursor: pointer;
}

.swal2-popup.swal2-modal.swal-custom-padding {
    padding-left: 4rem;
    padding-right: 4rem;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-tip,.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-long{
    background: white;
    z-index: 3;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
    background: #57D024!important;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
   border: 0.25em solid #57d0244d;
}

.custom-swal .swal2-icon.swal2-error {
    border-color: #EF4242;
    color: #f27474;
}

.custom-swal .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color:#EF4242;
}

.swal-load-custom{
    background: transparent;
}

.swal-load-custom .loading-gif img{
    width: 100px;
}
.form-group{
	position: relative;
}

.show-password{
	position: absolute;
	right: 10px;
	top: 17px;
	cursor: pointer;
}

.show-password.show::before{
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f070";
}
.show-password::before{
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f06e";
}

button.swal2-confirm.btn.btn-success.btn-custom.swal2-styled{
	width: 90%;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-tip,.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-long{
    background: white;
    z-index: 3;
}

.custom-swal .swal2-icon.swal2-warning{
    border-color: #EF4242;
    color: white;
    background: #EF4242;
}
.custom-swal .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: white;
}

.custom-swal .swal2-icon.swal2-error{
    border-color: #EF4242;
    color: white;
    background: #EF4242;
}

.custom-swal .swal2-icon.swal2-info {
    border-color: #3fc3ee;
    color: #ffffff;
    background: #3fc3ee;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
    background: #57D024!important;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
   border: 0.25em solid #57d0244d;
}

.custom-swal .swal2-icon.swal2-error {
    border-color: #EF4242;
    color: #f27474;
}

@media screen and (max-width: 767px) {
    main div.row {
        margin: 2rem 0;
    }
}


@media screen and (max-width: 576px) {
	.card .card-brand img{
		width: 100px;
	}
	.card .card-brand .card-brand-text{
		font-size: 20px;
		margin-top: 10px;
	}
	.form-control{
		padding: 11px;
	}
	.show-password{
		top: 12px;
	}
	.card {
		min-height: 455px;
	}
	.card .forget-pass,.remember-box{
		margin-bottom: 10px;
	}
	.card .card-body{
		padding: 0 2.5rem 0rem;
	}
	.card .card-desc{
		font-size: 13px;
		line-height: 20px;
	}
}

@media screen and (max-width: 450px) {
	.card .card-body {
		padding: 0 1.5rem 0rem;
	}
	.card .forget-pass,.remember-box{
		font-size: 13px;
	}
	.card .forget-pass{
		margin-top: 20px;
	}
}