body{
	font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container-xxl{
    padding-left: 0;
    padding-right: 0;
}

/*navbar*/

section#navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: white;
    border: 1px solid #e6e6e6;
}

#navbar .navbar-brand{
    width: 6%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navbar .navbar-brand img{
    width: 55px;
}

#navbar .form-search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#navbar .navbar-toggler{
    padding: 0;
    border: unset;
}

#navbar .navbar-toggler:active{
    border: unset;
}

#navbar .form-search div:not(.input-group){
    width: 73%;
    display: flex;
}

#navbar .nav-item a.nav-link {
    font-weight: 600;
    color: black!important;
}

#navbar .navbar-nav{
    width: 16%;
}

#navbar .input-group .form-control {
    border: 2px solid #D1D1D1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #A9A9A9;    
    padding: .375rem .75rem;
}

#navbar .input-group .btn{
    border: 2px solid #D1D1D1;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#navbar .nav-image{
    width: 30px;
    margin-right: 20px;
}
#navbar .nav-item, #navbar .nav-link{
    position: relative;
}
#navbar .badge-custom{
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    font-size: small;
    padding: 0;
    background-color: #FE4B4B!important;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*corousel*/

main.body{
    padding-top: 5rem;
    background:white;
}
main:not(.body){
    /* padding-top: 6.3rem; */
    padding: 6.3rem 23px 0 23px;
    background:white;
}

#corousel{
    margin-bottom: 10px;
}

#corousel .carousel-indicators [data-bs-target] {
    width: hei;
    height: 8px;
    width: 8px;
    border-radius: 20px;
    background: transparent;
    border: 3.5px solid #57D024;
    opacity: unset;
    transition: all 0.3s ease-in;
}

#corousel .carousel-indicators [data-bs-target].active{
    background:#57D024;
}
#corousel .carousel-item {
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#corousel .carousel-caption.title-corousel {
    top: 10%;
    font-size: 25px;
    font-weight: 500;
}

#corousel .carousel-caption.btn-corousel{
    bottom: 3.25rem;
}

#corousel .carousel-caption.btn-corousel .btn, .btn-custom.outline.btn{
    border: 3px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

/* galeri */

div#galeri-foto {
    margin-top: 40px;
    background: #F4FFF4;
    padding: 3rem 3rem;
}

#galeri-foto .foto {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 230px;
    width: 45%;
    margin-right: 5%;
    position: relative;
    padding: 0;
    display: flex;
}

#galeri-foto .foto .more{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 23px;
    background: #0000007a;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

#galeri-foto .foto:not(:nth-child(3)):not(:last-child){
    margin-bottom: 5%;    
}

.welcome-box{
    margin: auto;
    padding: 0 2rem;
}

.welcome-box .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.welcome-box .desc {
    text-align: left;
    line-height: 27px;
    margin-bottom: 20px;
}

.btn.btn-success.btn-custom{
    background:#57D024;
    border-radius: 0;
    width: 100%;
    border: unset;
    color: white;
}

.btn-padding{
    padding-left: 30px;
    padding-right: 30px;
}

.banner-beli{
    margin-top: 40px;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.paralax{
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-beli.paralax .paralax-content{
    width: 45%;
    text-align: center;
    color: white;
}

.banner-beli.paralax .paralax-content .title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.banner-beli.paralax .paralax-content .brand {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: 1;
}

.banner-long{
    min-height: 578px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-long.paralax .paralax-content .title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.banner-long.paralax .paralax-content .brand{
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 25px;
}

.banner-long.paralax .paralax-content .btn{
    width: unset;
    background-color: #42A917;
    padding: 12px 20px;
}


.title-gallery {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 25px;
	display: flex;
    align-items: center;
}

.title-gallery span{
    width: 50%;
    padding-left: 25px;
}

.title-gallery a {
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    color: #57D024;
    text-align: right;
    margin-right: 35px;
    width: 50%;
}

.box-gallery:not(.gallery-item) {
    position: relative;
    margin: 20px;
    height: 200px;
    /*overflow: hidden;*/
}

.box-gallery img.image {
    width: 100%;
    height: 99%;
    z-index: 2;
    /* display: none; */
    /* border-radius: 30px; */
    padding: 5px;
}

.box-gallery .show-detail:not(.gallery-video) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%, -50%);
	transition: .5s ease;
	opacity: 0;
}
.box-gallery .show-detail:not(.gallery-video) a{
	width: 100%;
	height: 100%;
	position: absolute;
}
.box-gallery .show-detail:not(.gallery-video) span{
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    background: #FDC42D;
    font-size: 12px;
    font-weight: 600;
    width: 100px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%, -50%);
}
.box-gallery .show-detail:hover:not(.gallery-video){
	opacity: 1;
}

.title-gallery.gallery-video{
	margin-top: 10px;
}

.box-gallery .show-detail.gallery-video {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%, -50%);
	transition: .5s ease;
}

.box-gallery .show-detail.gallery-video a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.box-gallery .show-detail.gallery-video a:hover{
	color: black;
}

.container-gallery{
    padding: 3rem 4.1rem;
}

.gallery-instalasi{
    padding: 1.4rem 1.5rem;
}

.gallery-instalasi .box-gallery{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: unset;
    min-height: 195px;
    margin:unset;
}

.gallery-instalasi .box-gallery.full{
    min-height: 100%;
    margin: unset;
}

.list-testimoni{
    margin-top: 40px;
    background-color: #006432;    
    min-height: 490px;
}

.list-testimoni .title-gallery span{
    color: white;
}

.list-testimoni .title-gallery a{
    color: white;
}

div#testimoniList {
    width: 66%;
    margin: auto;
    padding: 2rem 6rem 4rem 6rem;
}

#testimoniList .testimoni-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

#testimoniList .testimoni-header > * {
    width: 100%;
    display: block;
    text-align: center;
}

#testimoniList .testimoni-header img.icon {
    width: 80px;
    border-radius: 100%;
}

#testimoniList .testimoni-header span.name {
    color: white;
    padding: 16px 10px 8px 10px;
    font-size: 20px;
    font-weight: 500;
}

#testimoniList .testimoni-body {
    color: white;
    text-align: center;
    line-height: 1.8;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#testimoniList  .carousel-control-next,#testimoniList  .carousel-control-prev{
    opacity: 1;
}

#testimoniList .star{
    font-size: 14px;
    color: #FFB802;
}

#testimoniList .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.75 2L2 10.75L10.75 19.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M2 10.75H22" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

#testimoniList  .carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.25 2L22 10.75L13.25 19.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M22 10.75H2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

/* footer */

footer{
    padding-top: 50px;
    /* margin-top: 20px; */
    background-color: #F9F9F9;
    padding-bottom: 30px;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color: #57d024;
}
footer .logo-foot {
    width: 80px;
}

footer .logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #57d024;
    display: block;
}
footer .foot-menu{
    list-style: none;
    padding-left: 0;
}


footer .foot-menu li, footer .foot-menu li a{
    font-weight: normal;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;
    color: black;
}

footer .foot-menu.fa-ul li a{
    display: flex;
    line-height: 25px;
    margin-bottom: 10px;
}
footer .foot-menu.fa-ul li a .fa-li{
    top: 6px;
}

footer .footer-title{
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

footer .box-social ul{
    list-style: none;
    padding: unset;
}

footer .box-social ul li{
    display: inline-block;
}

footer .box-social ul li .image-social {
    font-size: 30px;
    margin-right: 10px;
    color: #57D024;
}

footer .box-gplay {
    display: flex;
    flex-wrap: wrap;
}
footer .box-gplay .image-play {
    width: 50%;
}
footer .box-gplay .image-play img{
    width: 100%;
}

/* footer-page */
.footer-page {
    padding: 13px 0;
    background: #F9F9F9;
}

.footer-page .container-xxl{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-page .container-xxl .logo-page{
    /* width: 10%; */
    text-align: right;
    padding-right: 16px;   
    padding-left: 17px;  
}
.footer-page .container-xxl .page-desc{
    font-weight: 500;
    font-size: 13px;
}
.footer-page .container-xxl img{
    width: 40px;
}

/* mainbody */

/* produkDetail */
.breadcrumb.produk{
    font-size: 12px;
}

.breadcrumb.produk .breadcrumb-item a{
    text-decoration: none;
    color: #A9A9A9;
}
.breadcrumb.produk .breadcrumb-item+.breadcrumb-item::before{
    color: #D1D1D1;
}
.breadcrumb.produk .breadcrumb-item .breadcrumb-item.active{
    color: #151515;
}

.box-image{
    width: 95%;
}
.box-image .display-image{
    height: 300px;
    background: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    position: relative;
}

.box-image .display-image .image{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-list-image{
    position: relative;
    margin-top: 15px;
    overflow-x: auto;
}

.box-list-image::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.box-list-image::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 7px;
   }
.box-list-image::-webkit-scrollbar-thumb:hover{
    background: #d1cdd1;
   }
.box-list-image::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


.box-list-image .list-image{
    position: relative;
    transition: transform 500ms ease 0s;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

.item-image {
    display: inline-block;
    width: 75px;
    height: 52px;
    border-radius: 13px;
    border: 1px solid #ccc5c5;
    padding: 7px;
    margin-left: 8px;
    text-align: center;
}
.item-image.active{
    border: 1.5px solid #57D024;  
}

.item-image img {
    max-width: 100%;
    max-height: 100%;
}

#box-detail .detail-title {
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 5px;
}

.input-group .subtotal, #listKeranjang .subtotal{
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 10px!important;
    flex-shrink: 0;
}
#listKeranjang .subtotal{
    justify-content: flex-end;
}

.btn.btn-success.btn-custom{
    background-color: #57D024;
    width: 100%;
    border-radius: unset;
}
#box-detail .qty-produk .btn.btn-outline-success.btn-custom svg{
    color: #57D024;
}

#box-detail .qty-produk .btn.btn-outline-success.btn-custom {
    border: 2px solid #57D024;
    width: 100%;
    border-radius: 12px;
    font-size: 12px;
    color: black;
    font-weight:600;
}
#box-detail .qty-produk .text-danger,#listKeranjang .text-danger{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

#box-detail .qty-produk .btn.btn-outline-success.btn-custom:hover{
    background:white;
}


#box-detail .detail-review{
    font-size: 13px;
    margin-bottom: 5px;
}

#box-detail .detail-review .star [data-prefix="fas"]{
    color: #FDBC15;
}
#box-detail .detail-review .star [data-prefix="far"]{
    color: #D1D1D1;
}

#box-detail .detail-review .review{
    color: #A9A9A9;
    font-size: 12px;
}
#box-detail .detail-price {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #57D024;
    margin-bottom: 10px;
}


#box-detail .table-price .table{
    width: 65%;
}
#box-detail .table-price .table th, #box-detail .table-price .table td{
    text-align: center;
    border-color: #57D024;
}
#box-detail .table-price .table tr{
    border-color: #57D024;
}

/* .spin-input */
.spin-input{
    width: 200px;
    position: relative;
    display: flex;
}

.spin-input button.btn.btn-plus[data-type="min"] {
    position: absolute;
    bottom: 0;
    right: 2px;
    padding:2px;
}

.spin-input button.btn.btn-plus[data-type="plus"] {
    position: absolute;
    top: 0;
    right: 2px;
    padding:2px;
}


.form-control[data-toggle="qtyProduk"]{
    /* width: 80px; */
    flex: unset!important;
    border-color: #57D024;
    border-radius: unset;
    padding-right: 25px;
    padding-left: 15px!important;
}

.form-select.form-beli.select-custom{
    border: 2px solid #57D024;
    border-radius: unset;
    font-size: 13px;
    border-left: 0;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.form-select.form-beli.select-custom .value{
    width: 100%;
    height: 100%;
    padding: .375rem 0 .375rem .75rem;
    display: flex;
    align-items: center;
}

.form-select.form-beli.select-custom .list{
    display: none;
    position: absolute;
    bottom: -60px;
    min-width: 100%;
    left: 0px;
    background: white;
    border: 0.1px solid #d5d5d5;
    border-radius: 2px;
}

.form-select.form-beli.select-custom .list.show{
    display: block;
}

.form-select.form-beli.select-custom .list.show ul li {
    padding: 5px 0 5px 5px;
}

.form-select.form-beli.select-custom .list.show ul li:hover{
    background: #d4d4d4;
    cursor: default;
}

.form-select.form-beli.select-custom .list.show ul li.selected{
    background: #57D024;
    color: white;
}

.form-select.form-beli.select-custom .list ul{
    padding: 2px;
    list-style: none;
    margin-bottom: 0;
}

/* deskripsi */
#boxDescProduk .desc-produk {
    text-align: justify;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 70px;
}

#boxDescProduk .desc-produk.show{
    overflow: unset;
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
}

#ModalDesc .modal-body{
    padding: 1.5rem;
}

#ModalDesc .detail-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

#ModalDesc .star [data-prefix="fas"],#ModalDesc .star [data-prefix="far"]{
    font-size: 15px;
}

#ModalDesc .desc{
    margin-top: 0.8rem;
}


/* ulasan */
#boxUlasan, #boxDescProduk{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#boxUlasan .clearfix, #boxDescProduk .clearfix {
    margin-bottom: 15px;
    margin-top: 10px;
}

#boxUlasan h5 , #boxDescProduk h5{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.list-ulasan .icon-ulasan{
    margin-right: 10px;
}
.list-ulasan .icon-ulasan img{
    width: 60px;
    border-radius: 38px;
    border: 1.5px solid #57D024;
    padding: 2px;
}

.list-ulasan .ulasan-name{
    font-size: 13px;
    text-align: left;
}

.list-ulasan .ulasan-name div:first-child{
    font-size: 15px;
}

.list-ulasan .ulasan-name .star [data-prefix="fas"]{
    color: #FDBC15;
}
.list-ulasan .ulasan-name .star [data-prefix="far"]{
    color: #D1D1D1;
}

.list-ulasan .desc {
    font-size: 14px;
    text-align: justify;
}

.list-ulasan .card{
    min-height: 130px;
    margin-bottom: 15px;
    border: unset;
    border-bottom: 1px solid #57d02454;
    border-radius: unset;
}

.list-ulasan .card:last-child{
    /* border-bottom: unset!important; */
}

.link_show_more {
    color: #57D024;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: unset;
    margin-top: 15px;
    text-decoration: none;
}
.link_show_more:hover {
    color: #5cbd33;
    cursor: pointer;
}

#ReviewBox .filter span {
    min-width: 100px;
    /* text-align: center; */
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.5px;
}

#ReviewBox .filter > * {
    display: inline-block;
}

.filter ul {
    padding-left: 0;
    list-style: none;
}

.filter ul li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #c1c1c1;
    padding: 2px 10px;
    border-radius: 4px;
    color: #40454C;
    font-weight: 500;
}

.filter ul li:hover{
    cursor: pointer;
    border: 1px solid #57D024;
}

.filter ul li.active {
    border: 1px solid #57D024;
}

.filter ul li [data-prefix="fas"]{
    color: #FDBC15;
}

.load-infinate {
    text-align: center;
}

.load-infinate img {
    width: 63px;
    margin-bottom: 20px;
}

#ReviewBox{
    min-height: 95vh;
}

/* #list-video */
#list-video .card{
    margin-bottom: 15px;
}
#list-video .card-img-top{
    border-radius:10px;
}
#list-video .box-play{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}

#list-video .card-img-top{
    border-radius:10px;
}
#list-video .box-play a{
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}
#list-video .card-img-top{
    border-radius:10px;
}
#list-video .box-play a:hover{
    color: black;
}

.pop-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid rgb(87 208 36 / 47%); */
    outline: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    z-index: -100;
    opacity: 0;
    transition: all ease 0.1s;
    border-radius: 5px;
}

#BoxKeranjang{
    right: 55px;
    top: -500px;
    transition: none;
}
#BoxKeranjang.show{
    top: 85px;
    right: 55px;
}
#BoxProfil{
    right: 180px;
    top: -500px;
    transition: none;
}
#BoxSearch{
    width: 100%;
    top: -500px;
    border-radius: 0;
    left: 0;
    box-shadow: unset!important;
    transition: all 0.15s ease-in-out;
}
#BoxSearch.show{
    left: 0;
    top: 64px;
}
#BoxProfil.show {
    right: 75px;
    top: 85px;
    min-width: 200px;
    width: unset;
}
#BoxProfil .pop-up-body{
    padding-top: 10px;
    padding-bottom: 0;
}
#BoxProfil .pop-up-body ul{
    list-style: none;
    padding-left: 0;
}
#BoxProfil .pop-up-body ul li a{
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    padding: 10px 0 10px 5px;
    transition: ease-in .3s;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#BoxProfil .pop-up-body ul li a:hover{
    background-color:#e2e2e2;
    cursor: pointer;
}

#BoxProfil .pop-up-body ul li a img {
    width: 20px;
    margin-right: 10px;
}

.pop-up.show{
    z-index: 22;
    opacity: 1;
}

.pop-up-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
h5.pop-up-title {
    font-size: 17px;
    font-weight: 600;
}
.pop-up-keranjang .btn-close{
    width: 0.4em;
    height: 0.4em;
    opacity: unset;
}

.pop-up-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.pop-up-footer {
    display: flex;
    padding: .75rem;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.pop-up-footer .subtotal div:first-child{
        font-size: 13px;
        font-weight: 600;
}
.pop-up-footer .subtotal div:last-child {
    font-size: large;
    font-weight: 600;
}
.list-keranjang-pop {
    min-height: 250px;
    max-height: 325px;
    overflow-y: auto;
}

.list-keranjang-pop::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.list-keranjang-pop::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 7px;
   }
.list-keranjang-pop::-webkit-scrollbar-thumb:hover{
    background: #d1cdd1;
   }
.list-keranjang-pop::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.list-keranjang-pop .keranjang {
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-radius: 0;
    padding-bottom: 10px;
}

.list-keranjang-pop .list-name{
    font-weight: 600;
    padding-right: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-keranjang-pop [class*="col-"]{
    padding-right: 0;
}

.list-keranjang-pop .list-btn-del a{
    text-decoration: none;
    font-size: 15px;
    color: #FB5757;
}

.list-keranjang-pop .list-btn-del a svg{
    font-size: 17px;
}

.list-keranjang-pop .list-harga {
    color: #57D024;
    font-weight: 600;
    text-align: right;
}

.list-keranjang-pop .list-qty{
    font-size: 12px;
}
.list-keranjang-pop .list-qty span:first-child {
    color: #a9a9a9;
}

.keranjang-blank{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.keranjang-blank div{
    width: 100%;
    text-align: center;
}

.star [data-prefix="fas"] {
    font-size: 11px;
    color: #FDBC15;
}

.star [data-prefix="far"] {
    font-size: 11px;
    color: #d1d1d1;
}


/* keranjang */

#KeranjangBox{
    min-height: 85vh;
}

#KeranjangBox #listKeranjang{
    min-height: 350px;
}

#KeranjangBox #listKeranjang .card-title {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

#KeranjangBox #listKeranjang .box-image-keranjang{
    display: flex;
    flex-wrap: wrap;
}

#KeranjangBox #listKeranjang .box-image-keranjang .image{
    width: 40%;
    align-items: center;
    justify-content: center;
}
#KeranjangBox #listKeranjang .box-image-keranjang .image img{
    max-width: 100%;
    max-height: 100%;
}

#KeranjangBox #listKeranjang .box-image-keranjang  .image-caption{
    width: 60%;
    align-items: center;
    display: flex;
    padding-left: 11px;
    font-size: 15px;
    font-weight: 500;
}
#KeranjangBox #listKeranjang table tr th {
    border: 1px solid #57D024;
    vertical-align: middle;
    padding: 20px 15px;
}

#KeranjangBox #listKeranjang table tbody td{
    padding: 20px 15px;
    border-bottom: 1px solid #57D024;
}
#KeranjangBox #listKeranjang table tbody td:not(.image){
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

#KeranjangBox #listKeranjang table tbody td:first-child{
    border-left: 1px solid #57D024;
}
#KeranjangBox #listKeranjang table tbody td:last-child{
    border-right: 1px solid #57D024;
}

#KeranjangBox #listKeranjang table tbody td:last-child a{
    color: rgb(0 0 0 / 54%);
    font-size: 30px;
}

#KeranjangBox #listKeranjang table tbody td .spin-input{
    margin: auto;
}

#KeranjangBox #listKeranjang table tfoot td{
    padding: 20px 15px;
    border-bottom: 1px solid #57d024;
    vertical-align: middle;
}
#KeranjangBox #listKeranjang table tfoot{
    font-weight: 600;
}
#KeranjangBox #listKeranjang table tfoot td:first-child{
    border-left: 1px solid #57d024;
}
#KeranjangBox #listKeranjang table tfoot td:nth-child(2){
    text-align: end;
}
#KeranjangBox #listKeranjang table tfoot td:last-child{
    border-right: 1px solid #57d024;
}

#KeranjangBox .keranjang_blank span{
    display: inline-block;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.flex-center{
    display: flex;align-items: center;width: 100%;justify-content: center;
}

/* //checkout */

#CheckoutBox{
    margin-bottom: 4rem;
}

.title-page {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.form-label {
    display: inline-block;
    margin-bottom: 7px;
    /* font-size: 15px; */
    font-weight: 600;
}

.form-control, .form-select,.select2-container--bootstrap-5 .select2-selection{
    border: 2px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 12px;
    /* font-size: 13px; */
    background-color: #fff;
}
.form-control:not(.form-icon){
    padding: 10px 15px 10px 15px;
    color: black;
    font-weight: 600;
}

.select2-dropdown{
    background: #f9f9f9;
}

#rangkuman {
    /* min-height: 575px; */
    padding: 25px 45px;
}

.border-custom{
    border-color: #57D024!important;
}

.title-checkout {
    margin-bottom: 20px;
    margin-top: 5px;
}

.title-checkout > * {
    display: block;
}

.title-checkout span:first-child {
    font-weight: 600;
    font-size: 22px;
}
.title-checkout span:last-child {
    font-size: 12px;
    color: #A9A9A9;
}

.select2-container--bootstrap-5 .select2-selection{
    min-height: calc(1.5em + 1.2rem + 2px);
    padding: 10px 15px 10px 15px;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered,.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder{
    font-weight: 600;
}

.alamat-button {
    width: 25%!important;
    float: right;
}
.alamat-button::before{
    clear: both;
}
.alamat-button::after{
    clear: both;
}

.box-alamat-top {
    display: flex;
    /* flex: 1 1 auto; */
    flex-wrap: wrap;
    padding: 20px 10px;
    margin-top: 25px;
}
.icon-alamat {
    width: 10%;
    padding-left: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.alamat-button {
    min-width: 180px!important;
}
.icon-alamat .icon{
    font-size: 30px;
}

.detail-alamat {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 15px;
}
.detail-alamat .label-alamat {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}
.list-rangkuman{
    height: 380px;
    overflow-y: auto;
}

.list-rangkuman .card{
    padding-bottom: 30px;
    border: unset;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
}

.list-rangkuman .col-6.list-name {
    font-size: 14px;
    font-weight: 600;
}

.list-rangkuman .col-6.price {
    padding-right: 0;
    text-align: right;
    font-weight: 600;
    color: #6A983C;
    font-size: 17px;
}

.list-rangkuman .col-6.list-qty {
    font-size: 13px;
}

.list-rangkuman .col-6.list-qty span:last-child{
    font-weight: 600;
}

.list-rangkuman::-webkit-scrollbar {
    /* 6px */
    width: 0px; 
    height: 0px;
}
.list-rangkuman::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 7px;
   }
.list-rangkuman::-webkit-scrollbar-thumb:hover{
    background: #d1cdd1;
   }
.list-rangkuman::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.price-total .subtotal, .price-total .total .float-start {
    font-weight: 600;
    margin-bottom: 12px;
}

.price-total .total {
    margin-top: 15px;
}

.price-total .total .float-end {
    color: #6A983C;
    font-size: 25px;
    font-weight: 600;
}

.list-alamat .box-alamat{
    padding: 19px;
    border: 1px solid #57d024;
    margin-bottom: 15px!important;
}
.list-alamat .box-alamat .alamat-label {
    font-weight: 600;
    font-size: 20px;
}

.list-alamat .box-alamat .alamat-desc {
    font-size: 14px;
    margin-top: 5px;
}

a.change-alamat {
    font-size: 13px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #3ba50e;
    font-weight: bold;
}
a.change-alamat:hover{
    cursor:pointer;
    color: #61b33e;
}
.btn-outline-success{
    color: #57d024;
    border-color: #57d024;
}
.btn-outline-success:hover{
    background: #57d024;
    border-color: #57d024;
}

.btn-success{
    background-color: #57d024;
}

.btn-success:hover{
    background-color: #3ca111;
}

@media (min-width: 992px){
    .ps-lg-6 {
        padding-left: 6rem!important;
    }
}

/* alamat */

#maps-box{
    width: 100%;
    min-height: 400px;
}


/* successbox */
#SuccessBox{
    min-height: 90vh;
}

.success-box{
    border: 1px solid #8A8A8A;
    border-radius: 0;
    margin-bottom: 65px;
}

.success-box .card-body{
    padding: 26px;
}

/* .success-box .detail-bayar div[class*="col-"]:not(.box-rekening):not(.col-6){
    padding-left: unset;
    padding-right: unset;
} */

.success-box .label {
    font-size: 15px;
    margin-bottom: 5px;
    color: #333333;
    letter-spacing: 0.02em;
}

.success-box .text-greeen {
    font-size: 22px;
    color: #57D024;
    font-weight: 600;
    margin-bottom: 13px;
    letter-spacing: 0.075em;
}

.success-box .price-total {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* line-height: 24px; */
    text-align: center;
    letter-spacing: 0.075em;
    margin-bottom: 13px;
}


.text-konfirmasi {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 11px;
}

.button-konfirmasi{
    margin-bottom: 25px;
}

.button-konfirmasi a{
    margin: 0 18px;
    width: 220px;
    height: 43px;
}


/* transaksi */

#ListTransaksiBox{
    min-height: 95vh;
    padding-bottom: 5vh;
}

.form-control.form-icon{
    padding: 10px 40px 10px 15px!important;
    color: black;
    font-weight: 600;
}

span.form-icon{
    position: absolute;
    right: 30px;
    top: 15px;
}

.list-transaksi .box-transaksi{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8A8A8A;
    padding: 20px 0;
    margin-bottom: 15px;
}

.list-transaksi .box-transaksi .image-transaksi{
    width: 20%;
    padding: 30px;
}

.list-transaksi .box-transaksi .image-transaksi img{
    max-width: 100%;
    max-height: 100%;
}

.list-transaksi .box-transaksi .detail-transaksi{
    width: 74%;
    display: flex;
    flex-wrap: wrap;
}

.list-transaksi .box-transaksi .detail-transaksi .label {
    font-size: 15px;
    color: #00000075;
    font-weight: 500;
    text-transform: uppercase;
}

.list-transaksi .box-transaksi .detail-transaksi .value{
    font-size: 17px;
    font-weight: normal;
    color: #000000;
}

.list-transaksi .box-transaksi .detail-transaksi .value img{
    width: 8%;
    height: auto;
}

.list-transaksi .box-transaksi .button-transaksi{
    /* width: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 20px; */
}

.list-transaksi .box-transaksi .button-transaksi a{
    font-size: 49px;
    color: 57D024;
}

.list-transaksi .paging a{
    text-decoration: none;
    color: #5a5a5a;
    cursor: default;
}

.list-transaksi .paging a.active{
    color: #47a220;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

/* profil */
#profilePage{
    min-height: 95vh;
    padding-bottom: 3rem;
}

.nav-custom > li.nav-item{
    margin-right: 25px;
}

.nav-custom .nav-link {
    color: #9F9F9F;
    font-weight: 600;
    min-width: 130px;
    padding-left: 0;
}

.nav-custom .nav-link.active{
    border: unset;
    border-bottom: 2px solid #57D024;
    font-weight: 600;
    color: black;
}
.tab-custom.tab-content {
    margin-top: 20px;
}

.tab-custom .nav-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
}

.tab-custom .nav-title:not(.clearfix){
    padding-bottom: 20px;
}

#profilePage .biodata {
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
}

#profilePage .biodata div {
    margin-bottom: pad;
    padding: 17px 17px 17px 0;
    border-bottom: 1.5px solid #e6e6e6;
}

#profilePage .biodata .label {
    font-weight: 500;
    font-size: 16px;
}

#profilePage .biodata .value {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.56;
}

.border-1-success{
    border:1px solid #57D024;
}

.box-profil {
    padding: 50px 20px;
}   

.box-profil .image-profile {
    width: 130px;
    margin: auto;
}

.box-profil .image-profile img {
    width: 100%;
    border-radius: 50%;
}

.box-profil .input-file {
    text-align: center;
    margin: 30px 0;
}

.box-profil .input-file label {
    text-transform: capitalize;
    display: inline-block;
    background: #57D024;
    color: white;
    padding: 5px 35px;
}

.box-profil .label {
    font-size: 13px;
}

#profilePage .listalamat{
    padding-top: 30px;
}

#profilePage .listalamat .box-alamat{
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    border: 2px solid #e6e6e6;
    padding: 30px 30px 30px 60px;
    margin-bottom: 20px;
}

#profilePage .listalamat .box-alamat .alamat-detail .label {
    font-weight: 600;
    padding-bottom: 5px;
}

.btn.btn-custom {
    border: 1px solid #E2E1E1;
    min-width: 100px;
}

.btn.btn-custom:not(.btn-success):not(.btn-outline-success):not(.outline):hover{
    background: #f9f7f7;
}

#profilePage .alamat-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

#profilePage .alamat-button a:first-child{
    padding-right: 40px;
}

#profilePage .alamat-button a:last-child {
    padding-right: 20px;
}

#profilePage .alamat-button a svg{
    width: 25px;
}

.form-control.is-valid {
    background-image: url(../img/checkmark.svg);
    border: 2px solid #e6e6e6;
}

.form-control.is-invalid {
    background-image: url(../img/cross.svg);
    border: 2px solid #e6e6e6;
}

.form-control.is-invalid:focus,.form-control.is-valid:focus{
    outline: none;
    border: 2px solid #e6e6e6;
}

#password-nav form {
    padding: 3.5rem 0 3.5rem 3.5rem;
}
#password-nav form label{
    font-weight: bold;
}

#password-nav form .form-box{
    align-items: center;
    margin-bottom: 3rem;
}

label.is-invalid {
    display: inline-block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 502!important;
    color: #EF4242;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-tip,.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-long{
    background: white;
    z-index: 3;
}

.custom-swal .swal2-icon.swal2-warning{
    border-color: #EF4242;
    color: white;
    background: #EF4242;
    margin-bottom: 15px;
    margin-top: 0px;
}
.custom-swal .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: white;
}

.custom-swal .swal2-icon.swal2-error{
    border-color: #EF4242;
    color: white;
    background: #EF4242;
}

.custom-swal .swal2-icon.swal2-info {
    border-color: #3fc3ee;
    color: #ffffff;
    background: #3fc3ee;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
    background: #57D024!important;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
   border: 0.25em solid #57d0244d;
}

.custom-swal .swal2-icon.swal2-error {
    border-color: #EF4242;
    color: #f27474;
}

#imageCrop{
    display: block;
    width: 100%;
}

.cropper-container.cropper-bg{
    max-width: 100%!important;
}

.swal-load-custom{
    background: transparent;
}

.swal-load-custom .loading-gif img{
    width: 100px;
}


/* konfirmasi */
.card.border-gray{
    border: 1px solid #8A8A8A;
    border-radius: 0;
}

#KonfirmasiBox{
    min-height: 95vh;
}

#KonfirmasiBox .card{
    margin-bottom: 3rem;
}

#KonfirmasiBox .card .card-body{
    padding: 3rem;
}

#KonfirmasiBox .card .card-body p{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: .5em;
}

#KonfirmasiBox .card .card-body .form{
    padding: 1rem 0rem;
}


#KonfirmasiBox .card .card-body .form [class*="col-12"]{
    padding-bottom: 1.5rem;
}

#KonfirmasiBox .card .card-body .form [class*="col-12"] label:not(.error){
    padding-bottom: 10px;
    font-weight: 600;
}

.file-custom{
    display: flex;
    flex-wrap: wrap;
}

.file-custom .file-label{
    display: block;
    width: 75%;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 2px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 12px 15px;
    color: #A9A9A9;
    font-weight: 600;
    margin-right: 10px;
}

.file-custom .file-button{
    background: #57D024;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.file-custom .file-button label{
    padding-bottom: 0!important;
    width: 100%;
    text-align: center;
    height: 100%;
    display: contents;
    cursor: pointer;
    font-weight: normal!important;
}

.border-radius-0{
    border-radius: unset!important;
}

#KonfirmasiBox .card .card-body .form .form-label{
    font-weight: normal;
}

.btn-custom.btn-success.btn-large {
    padding: 12px 25px;
}

label.error {
    font-size: 13px;
    color: #dc3545!important;
    margin-top: 5px;
}

.hiddenfile{
     visibility: hidden;
     position: absolute;
     width: 100%;
}

/* page */

#page{
    min-height: 95vh;
    padding-bottom: 4rem;
}

.list-syarat{
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}

.list-syarat li {
    border: 1px solid #E0E0E0;
}

.list-syarat li a{
    color: black;
    padding: 7px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.list-syarat li a.active{
    background-color: rgb(235, 235, 235);
}

.list-syarat li a:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}


.page-title {
    font-weight: 600;
    /* font-size: 22px; */
    margin-bottom: 15px;
}

.desc-page {
    line-height: 168.68%;
}

button.cancel-swal {
    border: 1px solid #aaa!important;
    color: black!important;
    background: white!important;
}

button.cancel-swal:hover{
    background: #aaa!important;
}

/* detail transaksi */

#DetailTransaksi{
    min-height: 90vh;
}

#DetailTransaksi .box-detail{
    padding-bottom: 4rem;
}

.btn-custom.btn-danger{
    border-radius: 0;
    background: #EF4242;
    padding: 12px;
}

.btn-custom.btn-danger:hover{
    background: #e22727!important;
}

.box-detail .card-body {
    padding: 1rem 1.8rem;
    font-size: 17px;
}

.box-detail .title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.box-detail .label {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}

.box-detail .nilai {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.box-detail .nilai img {
    width: 10%;
    margin-left: 10px;
}

.box-detail .box-alamat {
    padding: 17px;
    border: 1px striped;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.box-detail .box-alamat .nama_pemesan {
    font-size: 14px;
}

.box-detail .box-alamat .alamat, .box-detail .box-alamat .nomor {
    font-size: 14px;
    font-weight: 400;
    /* letter-spacing: 1px; */
    margin-top: 10px;
}

table.list-detail {
    width: 100%;
    font-size: 14px;
}

table.list-detail thead {
    background: #DADADA;
}

table.list-detail thead th {
    padding: 12px;
    text-align: center;
}

table.list-detail thead th:first-child {
    width: 50%;
    text-align: left;
}

table.list-detail thead th:last-child {
    text-align: right;
}

table.list-detail tbody td {
    padding: 15px;
    border-bottom: 1px solid #CECECE;
}

table.list-detail.total {
    table-layout: auto;
    width: 85%;
    float: right;
}

table.list-detail.total tr.total{
    font-weight: 600;
}

.box-rekening{
    min-width: 300px;
    font-size: 14px;
    letter-spacing: 0.07rem;
    text-align: left;
    border: 1px solid #CECECE;
    padding: 15px;
    margin-bottom: 20px;
}
.info-summary,.info-rekening{
    width: 50%;
    padding-left: 0;
    padding-right: 0;
}

.info-summary{
    float: right;
}
.info-rekening{
    float: left;
}

.box-rekening div:not(:nth-child(2)){
    font-weight: 500;
}

.box-rekening .bank{
    text-align: center;
    margin-bottom: 10px;
}

.box-rekening div span {
    display: inline-block;
    min-width: 110px;
}

.box-rekening div span[data-bs-toggle="tooltip"]{
    text-align: center;
    color: #57D024;
    font-size: 12px;
    font-weight: 400;
    min-width: 75px;
    cursor: pointer;
}

.box-detail .button-konfirmasi a{
    width: unset!important;
    min-width: 260px;
}
.box-detail .button-konfirmasi a img{
    float: left;
    clear: both;
    padding-left: 20px;
}

.box-detail .review-box {
    max-width: 400px;
    font-size: 13px;
    border: 1px solid #cecece;
    padding: 12px;
}

.rating-stars ul {
    list-style-type:none;
    padding:0;
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.list-star {
    display:inline-block;
    color: gray!important;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.list-star {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
    cursor: pointer;
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.list-star.hover {
    color:#FFCC36!important;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.list-star.selected {
    color:#FFCC36!important;
  }

  .rating-stars ul > li.star-message{
    display: inline-block;
    margin-left: 6px;
    font-weight: 300;
    font-size: 15px;
}

.lazy_loading {
	position: relative;
	background-color: #e2e2e2;
}

.lazy_loading::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	background: -webkit-gradient(linear, left top,
				right top, from(transparent), 
				color-stop(rgba(255, 255, 255, 0.2)),
				to(transparent));
				  
	background: linear-gradient(90deg, transparent,
			rgba(255, 255, 255, 0.2), transparent);

	/* Adding animation */
	animation: lazy_loading 0.8s infinite;
}

/* Loading Animation */
@keyframes lazy_loading {
	100% {
		transform: translateX(100%);
	}
}

/* page video */

#BoxVideo, #BoxGambar{
    min-height: 95vh;
    padding-bottom: 3rem;
}


#ListVideo .col{
    flex: 0 0 auto;
    width: 25%;
    margin-bottom: 24px;
}

#ListVideo .box-gallery{
    margin: unset;
}

#ListVideo [class*="col-"]{
    margin-bottom: 17px;
    padding-left: 0;
}

/* page gambar */
.gallery-item {
    width: 250px;
}
.gallery-item img{
    min-width: 100%;
}
.gal-video.gal-video svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* responsive */

@media screen and (max-width: 992px) {
    /* homepage */
    /* #galeri-foto .foto{
        min-height: unset;
        max-height: 150px;
        display: block;
    } */
}

@media screen and (max-width: 768px) {
    /* navbar */
    #navbar .form-search{
        width: 75%;
    }
    #navbar .form-search div:not(.input-group){
        width: unset;
        display: block;
    }

    /* body */
    /* homepage */
    .welcome-box{
        padding: 0 1rem;
        margin-top: 16px;
    }
    .welcome-box .title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .welcome-box .desc{
        font-size: 14px;
    }
    div#testimoniList{
        width: 100%;
        padding: 2rem 4rem 4rem 4rem;
    }

    /* keranjang page */
    #KeranjangBox #listKeranjang table tbody td .spin-input{
        width: 150px;
    }
    .btn-custom.btn-success.btn-large,.btn[data-toggle="batalkanPesanan"]{
        padding: 12;
        font-size: 14px;
    }

    /* konfirmasi page */
    #KonfirmasiBox .card .card-body{
        padding: 1.5rem;
    }

    /* page daftar transaksi */
    .list-transaksi .box-transaksi .detail-transaksi .value{
        font-size: 14px;
    }
    .list-transaksi .box-transaksi .detail-transaksi .label{
        font-size: 13px;
    }
    .list-transaksi .box-transaksi .detail-transaksi [class*='col']{
        margin-bottom: 5px;
    }
    .list-transaksi .box-transaksi .image-transaksi{
        padding: 10px;
    }

    /* page detail transaksi */
    .box-detail .card-body{
        padding: 0.5rem;
    }
    .box-alamat{
        margin-top: 10px;
    }
    table.list-detail.total{
        width: 100%;
    }
    .info-summary{
        float: left;
        margin-bottom: 10px;
    }
    .info-rekening{
        float: right;
    }
    .info-summary, .info-rekening{
        width: 100%;
    }
    table.list-detail tbody td{
        padding: 12px;
    }
    
    #profilePage .alamat-button {
        justify-content: flex-start;
        width: 100%!important;
    }
    #profilePage .alamat-button a:first-child {
        padding-right: 15px;
    }
    /* footer */
    footer .box-gplay{
        align-items: center;
    }
}


@media screen and (max-width: 576px) {
    /* navbar */
    #navbar .form-search{
        width: 60%;
    }
    #navbar .navbar-brand img{
        width: 40px;
    }
    #navbar .input-group .form-control{
        font-size: 13px;
    }
    #navbar .navbar-nav,#navbar .nav-item,#navbar .nav-item a.nav-link{
        width: 100%;
    }
    #navbar .nav-item a.nav-link{
        padding-left: 10px;
    }
    #navbar .navbar-nav{
        margin-top: 10px;
    }
    .nav-icon{
        padding: 0;
    }
    #navbar .nav-icon .nav-image{
        width: 25px;
        margin-right: 0;
    }
    .navbar>.container-fluid{
        justify-content: space-evenly;
    }

    #navbar .badge-custom{
        font-size: 11px;
        width: 17px;
        height: 17px;
        left: -3px;
        bottom: -5px;    
    }

    /* body */
    main.body {
        padding-top: 4.3rem;
    }

    #BoxProfil.show {
        right: 30px;
        top: 70px;
    }
    #BoxKeranjang.show {
        top: 70px;
        right: 30px;
        width: 350px;
    }

    /* homepage */
    #galeri-foto .foto{
        min-height: 150px;
    }

    #corousel{
        margin-bottom: 0;
    }

    #corousel .carousel-item{
        min-height: 300px;
    }
    #corousel .carousel-caption.title-corousel{
        font-size: 20px;
    }
    #corousel .carousel-caption.btn-corousel .btn, .btn-custom.outline.btn{
        font-size: 15px;
    }

    div#galeri-foto{
        margin-top: 0px;
        padding: 2rem 1rem;
    }

    .welcome-box .desc{
        padding-right: 20px;
    }
    .banner-beli{
        justify-content: center;
        min-height: 250px;
    }

    .container-gallery{
        padding: 2rem 0;
    }

    .banner-long{
        min-height: 400px;
    }
    .banner-long.paralax .paralax-content .title {
        font-size: 30px;
    }
    .banner-long.paralax .paralax-content .brand{
        font-size: 20px;
    }
    .banner-long.paralax .paralax-content .btn{
        padding: 12px 12px;
    }

    #testimoniList .carousel-control-next, #testimoniList .carousel-control-prev{
        display: none;
    }

    div#testimoniList{
        width: 100%;
        padding: 2rem 1rem 4rem 1rem;
    }

    main:not(.body){
        padding: 5.3rem 23px 0 23px;
    }

    div#galleryVideo {
        padding: 0 1.5rem;
    }

    .box-gallery:not(.gallery-item){
        margin-left: 0;
        margin-right: 0;
    }
    .row.owl-carousel>*{
        padding-left: 0;
        padding-right: 0;
    } 

    /* page */

    .page-title{
        font-size: 20px;
    }

    .desc-page{
        font-size: 12px;
    }
    .form-control.form-icon{
        font-size: 13px;
    }

    /* videopage */

    #ListVideo [class*="col-"]{
        padding-right: 0;
    }
    /* review page */
    .filter ul li{
        font-size: 13px;
        margin-right: 0px;
    }

    /* detail page */
    #box-detail .detail-title{
        font-size: 25px;
    }
    #box-detail .detail-price{
        font-size: 25px;
        line-height: 30px;
    }
    #boxUlasan h5, #boxDescProduk h5{
        font-size: 25px;
    }

    #DetailProduk .spin-input{
        width: 160px;
    }

    /* profil page */
    .box-profil{
        width: 65%;
        margin: auto;
    }
    #profilePage .biodata{
        padding-left: 0;
    }
    .nav-custom .nav-link{
        font-size: 13px;
        min-width: 100px;
    }
    .form-label,.form-control:not(.form-icon),.btn.btn-success.btn-custom,#profilePage .listalamat .alamat-detail{
        font-size: 13px;
    }
    #profilePage .listalamat .box-alamat{
        padding: 20px 20px 10px 20px;
    }
    #profilePage .alamat-button{
        justify-content: flex-start;
        width: 100%!important;
    }
    #profilePage .alamat-button a:first-child{
        padding-right: 15px;
    }
    #profilePage .alamat-button a svg{
        width: 16px;
    }
    #password-nav form .form-box{
        margin-bottom: 1rem;
        padding-right: 0;
    }

    #password-nav form{
        padding: 1rem 0 1.5rem 0;
    }
    .form-box [class*="col-"]{
        padding-left: 0;
        padding-right: 0;
    }

    #password-nav form label {
        font-weight: 500;
        font-size: 13px;
    }
    .nav-custom > li.nav-item{
        margin-right: 0;
    }
    #profilePage .biodata .label,#profilePage .biodata .value{
        font-size: 13px;
    }

    .tab-custom .nav-title{
        font-size: 14px;
    }
    .tab-custom.tab-content,.tab-custom .nav-title:not(.clearfix){
        padding-bottom: 10px;
    }

    /* keranjang page */
    #listKeranjang .table,
    #KeranjangBox #listKeranjang table tbody td:not(.image),
    #KeranjangBox #listKeranjang .box-image-keranjang .image-caption{
        font-size: 13px;
    }
    #KeranjangBox #listKeranjang table tbody td .spin-input{
        width: 130px;
    }
    #KeranjangBox #listKeranjang table tbody td:last-child a{
        font-size: 20px;
    }
    #KeranjangBox #listKeranjang table tr th,#KeranjangBox #listKeranjang table tfoot td,#KeranjangBox #listKeranjang table tbody td{
        padding: 15px;
    }

    #listKeranjang .card-body{
        padding-top: 0;
    }

    /* checkout page */
    .select2-container--bootstrap-5 .select2-selection{
        font-size: 13px;
    }
    .detail-alamat{
        font-size: 13px;
    }
    .detail-alamat .label-alamat{
        font-size: 14px;
    }
    .icon-alamat .icon{
        font-size: 20px;
    }
    .box-alamat-top{
        margin-bottom: 20px;
    }
    .title-checkout span:first-child{
        font-size: 18px;
    }
    #rangkuman{
        padding: 25px 20px;
    }

    .list-alamat .box-alamat{
        padding: 10px;
    }
    .list-alamat .box-alamat .alamat-desc,a.change-alamat{
        font-size: 12px;
    }
    .list-alamat .box-alamat .alamat-label{
        font-size: 14px;
    }
    #maps-box{
        min-height: 300px;
    }

    /* success page */
    .success-box .label{
        font-size: 13px;
    }
    .success-box .text-greeen,.success-box .price-total{
        font-size: 16px;
    }
    .box-rekening{
        font-size: 12px;
        min-width: unset;
        width: 85%;
    }
    .box-rekening div span[data-bs-toggle="tooltip"]{
        font-size: 10px;
    }
    .box-rekening .bank img {
        width: 80px;
    }
    
    /* konfirmasi page */
    .file-custom .file-label{
        padding: 5px 12px;
        width: 70%;
        font-size: 12px;
    }
    .file-custom .file-button{
        width: 27%;
    }
    #KonfirmasiBox .card .card-body p{
        font-size: 13px;
    }

    /* page daftar transaksi  */
    .list-transaksi .box-transaksi{
        padding: 20px 10px;
    }
    .list-transaksi .box-transaksi .detail-transaksi{
        width: 92%;
    }
    .list-transaksi .box-transaksi .image-transaksi{
        display: none;
    }
    .list-transaksi .box-transaksi .button-transaksi a{
        font-size: 40px;
    }
    .list-transaksi .box-transaksi .detail-transaksi .value img{
        width: 11%;
    }

    /* page detail transaksi */
    .info-rekening .box-rekening{
        width: 100%;
    }
    /* footer */
    footer .foot-menu li, footer .foot-menu li a,footer .footer-title{
        font-size: 13px;
    }

    .swal2-actions button{
        font-size: 0.9625em!important;
        padding: .625em 1em;
    }
}

@media screen and (max-width: 500px) {
    .title-gallery{
        font-size: 18px;
    }
    /* keranjang page */
    #KeranjangBox #listKeranjang .box-image-keranjang .image{
        display: none;
    }
    #KeranjangBox #listKeranjang table tbody td:first-child{
        vertical-align: middle;
    }
    #KeranjangBox #listKeranjang .box-image-keranjang .image-caption{
        padding-left: 0;
        width: 100%;
    }

    /* checkout page */
    .list-rangkuman .col-6.list-name{
        font-size: 13px;
        padding-right: 0;
    }
    .list-rangkuman .col-6.list-qty{
        font-size: 11px;
    }
    .list-rangkuman .col-6.price,.price-total .subtotal, .price-total .total .float-start{
        font-size: 15px;
    }
    .price-total .total .float-end{
        font-size: 18px;
    }
    .list-rangkuman{
        height: 250;
    }

    .alamat-button {
        min-width: 130px!important;
        font-size: 10px!important;
    }

    /* success page */
    .box-rekening{
        width: 85%;
    }
    /* konfirmasi page */
    #KonfirmasiBox .card .card-body{
        padding: 1.5rem 10px;
    }
    .file-custom .file-label{
        width: 66%;
    }
    .file-custom .file-button{
        width: 30%;
    }
    #KonfirmasiBox .card .card-body .form [class*="col-12"] {
        padding-bottom: 0.5rem;
    }
    .file-custom .file-button{
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .navbar-toggler {
        padding: .15rem .65rem;
    }
    .navbar>.container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

    #BoxProfil.show {
        right: 5px;
    }
    #BoxKeranjang.show{
        right: 3px;
        width: 98%;
    }

    /* body  */
    /* homepage */
    #galeri-foto .foto{
        width: 45%;
        margin-bottom: 5%;
        min-height: 100px;
    }
    #galeri-foto .foto .more{
        font-size: 13px;
    }
    #corousel .carousel-caption.btn-corousel{
        bottom: 1.25rem;
    }
    #corousel .carousel-item{
        min-height: 30vh;
    }
    #corousel .carousel-caption.btn-corousel .btn, .btn-custom.outline.btn{
        font-size: 12px;
    }
    #corousel .carousel-caption.title-corousel{
        font-size: 15px;
    }

    #corousel .carousel-indicators{
        display: none;
    }

    .banner-beli.paralax .paralax-content .title {
        font-size: 15px;
    }
    .banner-beli.paralax .paralax-content .brand{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .banner-beli.paralax .paralax-content .title{
        margin-bottom: 7px;
    }

    .title-gallery span{
        font-size: 20px;
    }

    .gallery-instalasi .col-md-4.col-sm-6.col-6{
        width: 100%;
    }

    .banner-long.paralax .paralax-content .title {
        font-size: 25px;
    }

    .banner-long.paralax .paralax-content .brand {
        font-size: 16px;
    }

    .banner-long {
        min-height: 300px;
    }

    .list-testimoni{
        min-height: 375px;
    }

    #testimoniList .testimoni-header img.icon {
        width: 50px;
    }

    #testimoniList .testimoni-header span.name{
        font-size: 15px;
        padding: 10px;
    }

    #testimoniList .testimoni-body{
        font-size: 12px;
    }

    #testimoniList .testimoni-header{
        padding-bottom: 0;
    }

    /* videopage */

    .Listvideo svg{
        width: 80px;
    }
    
    /* review page */
    .filter ul li{
        font-size: 10px;
        margin-right: 0px;
    }

    /* detail page */
    #ModalDesc .desc{
        font-size: 13px;
    }

    /* profile page */
    .box-profil{
        width: 95%;
    }
    .nav-custom .nav-link{
        font-size: 12px;
        min-width: 60px;
        padding-right: 0;
        margin-right: 5px;
    }

    .form-label, .form-control:not(.form-icon), .btn.btn-success.btn-custom, #profilePage .listalamat .alamat-detail {
        font-size: 12px;
    }

    /* keranjang page */
    #KeranjangBox #listKeranjang table tr th, #KeranjangBox #listKeranjang table tfoot td, #KeranjangBox #listKeranjang table tbody td {
        padding: 10px;
    }

    #listKeranjang .table, #KeranjangBox #listKeranjang table tbody td:not(.image), #KeranjangBox #listKeranjang .box-image-keranjang .image-caption {
        font-size: 11px;
    }
    #listKeranjang .form-control[data-toggle="qtyProduk"]{
        padding-left: 10px!important;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #KeranjangBox #listKeranjang table tbody td .spin-input{
        width: 95px;
    }
    #KeranjangBox #listKeranjang table tbody td .spin-input .form-select.form-beli,#KeranjangBox #listKeranjang table tbody td .spin-input .form-control{
        font-size: 10px;
    }
    #KeranjangBox #listKeranjang table tbody td .spin-input .form-select{
        background-position: right 0.1rem  center;
        background-size: 10px 8px;
    }
    #KeranjangBox #listKeranjang table tbody td:last-child{
        padding-left: 5px;
        padding-right: 5px;
    }
    #KeranjangBox #listKeranjang table tbody td:last-child a{
        font-size: 16px;
    }

    /* checkout page */
    .list-rangkuman .col-6.price, .price-total .subtotal, .price-total .total .float-start{
        font-size: 13px;
    }
    .price-total .total .float-end{
        font-size: 15px;
    }
    .list-rangkuman .col-6.list-name{
        font-size: 12px;
    }
    .title-checkout span:first-child{
        font-size: 16px;
    }

    /* success page */
    .box-rekening{
        width: 90%;
    }
    .box-rekening div span{
        min-width: 80px;
    }
    .box-rekening div span[data-bs-toggle="tooltip"]{
        min-width: 10px;
    }

    /* konfimasi page */
    .file-custom .file-label{
        width: 63%;
    }
    .file-custom .file-label{
        font-size: 10px;
    }

    /* page daftar transaksi */
    .list-transaksi .paging a{
        font-size: 11px;
    }
    .list-transaksi .box-transaksi .detail-transaksi{
        width: 93%;
    }

    /* page detail transaksi */
    .info-rekening .box-rekening{
        font-size: 10px;
    }

    .box-detail .label{
        font-size: 12px;
    }

    .box-detail .nilai{
        font-size: 14px;
    }
    .box-detail .nilai img{
        width: 30px;
        margin-left: 5px;
    }
    .box-detail .card-body{
        padding: 0;
    }
    .box-detail .box-alamat .nama_pemesan{
        font-size: 13px;
    }
    .box-detail .box-alamat .alamat, .box-detail .box-alamat .nomor{
        font-size: 12px;
    }

    /* footer */
    .col-custom-12{
        width: 100%;
        flex: 0 0 auto;
    }
    .foot-menu.fa-ul{
        margin-left: 20px;
    }
    .list-transaksi .box-transaksi .detail-transaksi .label{
        font-size: 10px;
    }
    .list-transaksi .box-transaksi .detail-transaksi .value{
        font-size: 12px;
    }
    .list-transaksi .box-transaksi .detail-transaksi .value img{
        width: 20px;
    }
    .list-transaksi .box-transaksi .detail-transaksi [class*='col']{
        margin-bottom: 10px;
    }
    .list-transaksi .box-transaksi .button-transaksi a{
        font-size: 30px;
    }

    .col-custom-4{
        width: 35%;
    }
    .col-custom-8{
        width: 65%;
    }
    footer .box-social ul li .image-social{
        font-size: 20px;
    }
    footer .box-gplay .image-play img {
        width: 100px;
    }
}

@media screen and (max-width: 350px) {
    #navbar .form-search{
        padding-right: 10px;
    }
    /* footer */

    footer .box-social ul li .image-social{
        font-size: 17px;
    }
    footer .box-gplay .image-play img {
        width: 90px;
    }

    /* body */
    .title-gallery span{
        font-size: 14px;
    }

    #testimoniList .testimoni-header span.name{
        padding: 6px;
    }

    /* success page */
    .box-rekening{
        width: 100%;
    }
}
