body{
	font-family: 'Montserrat', sans-serif;
    /* background: #f7f7f7; */
}

/* navbar-nav */
#navbar {
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
    background-color: #F9F9F9   ;
    position: fixed;
    width: 100%;
    z-index: 1;
}

section.container-xxl{
    padding-top: 5.5rem!important;
}

/* #navbar .navbar,footer{
    background: white;
} */

#navbar .navbar-title{
    font-weight: 700;
    font-size: 30px;
    color: #57D024;
    margin-left: 35px;
}

#navbar #search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 70%;
}

#navbar .collapse{
    display: flex;
    flex-basis: auto;
}

#navbar #search .form-group{
    width: 300px;
    min-width: 200px;
}

#navbar #search .form-group .form-control{
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0.55rem 2rem 0.5rem 0.75rem!important;
    font-size: 13px;
    background: white;
}

#navbar #search .form-group span{
    position: absolute;
    right: 15px;
    top: 10px;
}

#navbar .navbar-nav{
    flex-direction: row;
}

#navbar .dropdown-toggle::after{
    display: none;
}

#navbar .navbar-nav li.nav-item{
    padding: 0 10px;
    position: relative;
}

#navbar .btn.btn-custom {
    /* min-width: 45%; */
    width: 100px;
}

#navbar .btn-outline-success.btn-custom{
	background-color: white;
	border: 2px solid #57d024;
	color: #57d024;
}
#navbar .btn-outline-success.btn-custom:hover{
	background-color: #57d024;
	color: white;
}


#navbar .btn-success.btn-custom{
	background-color: #57d024;
	border: 2px solid #57d024;
    border-radius: .25rem;
}

#navbar .pop-up-footer .btn-success.btn-custom{
 border: unset;
 width: 100%;  
 border-radius: unset; 
}

#navbar .btn-success.btn-custom:hover{
	background-color: #3ead0f;
}
#navbar .nav-image{
    width: 30px;
    margin-right: 20px;
}
#navbar .nav-item .badge-custom{
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    font-size: small;
    padding: 0;
    background-color: #ff7e06!important;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*modal-custom*/
.modal-logo {
    text-align: center;
    color: #57D024;
    text-transform: uppercase;
}

.modal-logo h3 {
    font-size: 40px;
}

.modal-logo span.modal-icon {
    font-size: 70px;
    display: inline-block;
    margin-top: 13px;
}

.box-form {
    width: 75%;
    margin: auto;
}

input.form-control-custom {
	border: 0;
    border-bottom: 2px solid;
    border-radius: unset;
    padding: 11px 0!important;
    margin-bottom: 20px;
    font-weight: normal!important;
}

textarea.form-control-custom:focus, 
input.form-control-custom:focus, 
[type=text].form-control-custom:focus, 
[type=password].form-control-custom:focus, 
[type=email].form-control-custom:focus, 
[type=tel].form-control-custom:focus, 
[contenteditable].form-control-custom:focus {
  box-shadow: inset 0 -1px 0 #57D024;
}

.btn.btn-success.btn-custom-modal {
    background: #57D024;
    border-radius: 20px;
    padding: .375rem 31px;
    border: 0;
}

.text-footer {
    width: 100%;
    text-align: center;
    color: 2C8008;
    font-size: 14px;
    text-decoration: none;
}

.text-danger .error {
    font-size: 12px;
}

.pointer{
	cursor: pointer;
}


#forgetPassword .logo-brand{
	width: 90px;
}

#forgetPassword .title-forgot {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 500;
}

.box-forget{
    margin: auto;
}

.box-forget .card{
	border-radius: 10px;
	border: 1.5px solid;
	background-color: #bfddaa;
}

.header-account{
    display: flex;
    min-width: 200px;
    margin: auto;
}

.header-account .icon{
    padding: 10px;
    width: 30%;
    text-align: center;
    background: #57D024;
    border-radius: 12px 0 0 12px;
    color: white;
    border: 1.5px solid;
}
.header-account .name{
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1.5px solid;
    color: white;
    justify-content: center;
    border-radius: 0 12px 12px 0;
}

/* produkDetail */
.breadcrumb.produk{
    font-size: 12px;
}

.breadcrumb.produk .breadcrumb-item a{
    text-decoration: none;
    color: #A9A9A9;
}
.breadcrumb.produk .breadcrumb-item+.breadcrumb-item::before{
    color: #D1D1D1;
}
.breadcrumb.produk .breadcrumb-item .breadcrumb-item.active{
    color: #151515;
}

.box-image{
    width: 95%;
}
.box-image .display-image{
    height: 300px;
    background: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    position: relative;
}

.box-image .display-image .image{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box-list-image{
    position: relative;
    margin-top: 15px;
    overflow-x: auto;
}

.box-list-image::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.box-list-image::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 7px;
   }
.box-list-image::-webkit-scrollbar-thumb:hover{
    background: #d1cdd1;
   }
.box-list-image::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


.box-list-image .list-image{
    position: relative;
    transition: transform 500ms ease 0s;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

.item-image {
    display: inline-block;
    width: 75px;
    height: 52px;
    border-radius: 13px;
    border: 1px solid #ccc5c5;
    padding: 7px;
    margin-left: 8px;
    text-align: center;
}
.item-image.active{
    border: 1.5px solid #57D024;  
}

.item-image img {
    max-width: 100%;
    max-height: 100%;
}

#box-detail .detail-title {
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 5px;
}

.input-group .subtotal, #listKeranjang .subtotal{
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 10px!important;
    flex-shrink: 0;
}
#listKeranjang .subtotal{
    justify-content: flex-end;
}

.btn.btn-success.btn-custom{
    background-color: #57D024;
    width: 100%;
    border-radius: unset;
}
#box-detail .qty-produk .btn.btn-outline-success.btn-custom svg{
    color: #57D024;
}

#box-detail .qty-produk .btn.btn-outline-success.btn-custom {
    border: 2px solid #57D024;
    width: 100%;
    border-radius: 12px;
    font-size: 12px;
    color: black;
    font-weight:600;
}
#box-detail .qty-produk .text-danger,#listKeranjang .text-danger{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

#box-detail .qty-produk .btn.btn-outline-success.btn-custom:hover{
    background:white;
}


#box-detail .detail-review{
    font-size: 13px;
    margin-bottom: 5px;
}

#box-detail .detail-review .star [data-prefix="fas"]{
    color: #FDBC15;
}
#box-detail .detail-review .star [data-prefix="far"]{
    color: #D1D1D1;
}

#box-detail .detail-review .review{
    color: #A9A9A9;
    font-size: 12px;
}
#box-detail .detail-price {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #57D024;
    margin-bottom: 10px;
}


#box-detail .table-price .table{
    width: 65%;
}
#box-detail .table-price .table th, #box-detail .table-price .table td{
    text-align: center;
    border-color: #57D024;
}
#box-detail .table-price .table tr{
    border-color: #57D024;
}

/* .spin-input */
.spin-input{
    width: 150px;
    position: relative;
    display: flex;
}

.spin-input button.btn.btn-plus[data-type="min"] {
    position: absolute;
    bottom: 0;
    right: 2px;
    padding:2px;
}

.spin-input button.btn.btn-plus[data-type="plus"] {
    position: absolute;
    top: 0;
    right: 2px;
    padding:2px;
}


.form-control[data-toggle="qtyProduk"]{
    /* width: 80px; */
    flex: unset!important;
    border-color: #57D024;
    border-radius: unset;
    padding-right: 25px;
    padding-left: 15px!important;
}


/* deskripsi */
#boxDescProduk .desc-produk {
    text-align: justify;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 70px;
}

#boxDescProduk .desc-produk.show{
    overflow: unset;
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
}


/* ulasan */
#boxUlasan, #boxDescProduk{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#boxUlasan .clearfix, #boxDescProduk .clearfix {
    margin-bottom: 15px;
    margin-top: 10px;
}

#boxUlasan h5 , #boxDescProduk h5{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#listulasan .icon-ulasan{
    margin-right: 10px;
}
#listulasan .icon-ulasan img{
    width: 60px;
    border-radius: 38px;
    border: 1.5px solid #57D024;
    padding: 2px;
}

#listulasan .ulasan-name{
    font-size: 13px;
    text-align: left;
}

#listulasan .ulasan-name div:first-child{
    font-size: 15px;
}

#listulasan .ulasan-name .star [data-prefix="fas"]{
    color: #FDBC15;
}
#listulasan .ulasan-name .star [data-prefix="far"]{
    color: #D1D1D1;
}

#listulasan .desc {
    font-size: 14px;
    text-align: justify;
}

#listulasan .card{
    min-height: 130px;
    margin-bottom: 15px;
    border: unset;
    border-bottom: 1px solid #57d02454;
    border-radius: unset;
}

#listulasan .card:last-child{
    border-bottom: unset;
}

.link_show_more {
    color: #57D024;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: unset;
    margin-top: 15px;
    text-decoration: none;
}
.link_show_more:hover {
    color: #5cbd33;
    cursor: pointer;
}

/* #list-video */
#list-video .card{
    margin-bottom: 15px;
}
#list-video .card-img-top{
    border-radius:10px;
}
#list-video .box-play{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}

#list-video .card-img-top{
    border-radius:10px;
}
#list-video .box-play a{
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}
#list-video .card-img-top{
    border-radius:10px;
}
#list-video .box-play a:hover{
    color: black;
}

/* footer */
footer{
    padding-top: 20px;
    margin-top: 20px;
    background-color: #F9F9F9;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color: #57d024;
}
footer .logo-text {
    font-size: 35px;
    font-weight: 600;
    color: #57d024;
    margin-left: 16px;
}

footer .foot-menu{
    list-style: none;
}

footer .foot-menu li{
    font-weight: normal;
    font-size: 15px;
    line-height: 36px;
}

footer .box-social span{
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

footer .box-social ul{
    list-style: none;
    padding: unset;
}

footer .box-social ul li{
    display: inline-block;
}

footer .box-social ul li .image-social {
    font-size: 30px;
    margin-right: 10px;
    color: #57D024;
}
footer .box-gplay .image-play img{
    width: 150px;
}

/* pop-up */

.pop-up {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(87 208 36 / 47%);
    outline: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    z-index: -100;
    opacity: 0;
    transition: all ease 0.1s;
}

#BoxKeranjang{
    right: 55px;
    top: -500px;
    transition: none;
}
#BoxKeranjang.show{
    top: 75px;
    right: 55px;
}
#BoxProfil{
    right: 180px;
    top: -500px;
    transition: none;
}
#BoxProfil.show {
    right: 180px;
    top: 75px;
    min-width: 200px;
    width: unset;
}
#BoxProfil .pop-up-body{
    padding-top: 10px;
    padding-bottom: 0;
}
#BoxProfil .pop-up-body ul{
    list-style: none;
    padding-left: 0;
}
#BoxProfil .pop-up-body ul li a{
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    transition: ease-in .3s;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#BoxProfil .pop-up-body ul li a:hover{
    background-color:#e2e2e2;
    cursor: pointer;
}

#BoxProfil .pop-up-body ul li a img {
    width: 20px;
    margin-right: 10px;
}

.pop-up.show{
    z-index: 22;
    opacity: 1;
}

.pop-up-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
h5.pop-up-title {
    font-size: 17px;
    font-weight: 600;
}
.pop-up-keranjang .btn-close{
    width: 0.4em;
    height: 0.4em;
    opacity: unset;
}

.pop-up-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.pop-up-footer {
    display: flex;
    padding: .75rem;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.pop-up-footer .subtotal div:first-child{
        font-size: 13px;
        font-weight: 600;
}
.pop-up-footer .subtotal div:last-child {
    font-size: large;
    font-weight: 600;
}
.list-keranjang-pop {
    min-height: 250px;
    max-height: 325px;
    overflow-y: auto;
}

.list-keranjang-pop::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.list-keranjang-pop::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 7px;
   }
.list-keranjang-pop::-webkit-scrollbar-thumb:hover{
    background: #d1cdd1;
   }
.list-keranjang-pop::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.list-keranjang-pop .keranjang {
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-radius: 0;
    padding-bottom: 10px;
}

.list-keranjang-pop .list-name{
    font-weight: 600;
    padding-right: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-keranjang-pop .list-btn-del a{
    text-decoration: none;
    font-size: 15px;
    color: #FB5757;
}

.list-keranjang-pop .list-btn-del a svg{
    font-size: 17px;
}

.list-keranjang-pop .list-harga {
    color: #57D024;
    font-weight: 600;
    text-align: right;
}

.list-keranjang-pop .list-qty{
    font-size: 12px;
}
.list-keranjang-pop .list-qty span:first-child {
    color: #a9a9a9;
}

.keranjang-blank{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.keranjang-blank div{
    width: 100%;
    text-align: center;
}

.star [data-prefix="fas"] {
    font-size: 11px;
    color: #FDBC15;
}

.star [data-prefix="far"] {
    font-size: 11px;
    color: #d1d1d1;
}


/* keranjang */

#KeranjangBox{
    min-height: 85vh;
}

#KeranjangBox #listKeranjang{
    min-height: 350px;
}

#KeranjangBox #listKeranjang .card-title {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

#KeranjangBox #listKeranjang .box-image-keranjang{
    display: flex;
    flex-wrap: wrap;
}

#KeranjangBox #listKeranjang .box-image-keranjang .image{
    width: 40%;
    align-items: center;
    justify-content: center;
}
#KeranjangBox #listKeranjang .box-image-keranjang .image img{
    max-width: 100%;
    max-height: 100%;
}

#KeranjangBox #listKeranjang .box-image-keranjang  .image-caption{
    width: 60%;
    align-items: center;
    display: flex;
    padding-left: 11px;
    font-size: 15px;
    font-weight: 500;
}
#KeranjangBox #listKeranjang table tr th {
    border: 1px solid #57D024;
    vertical-align: middle;
    padding: 20px 15px;
}

#KeranjangBox #listKeranjang table tbody td{
    padding: 20px 15px;
    border-bottom: 1px solid #57D024;
}
#KeranjangBox #listKeranjang table tbody td:not(.image){
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

#KeranjangBox #listKeranjang table tbody td:first-child{
    border-left: 1px solid #57D024;
}
#KeranjangBox #listKeranjang table tbody td:last-child{
    border-right: 1px solid #57D024;
}

#KeranjangBox #listKeranjang table tbody td:last-child a{
    color: rgb(0 0 0 / 54%);
    font-size: 30px;
}

#KeranjangBox #listKeranjang table tbody td .spin-input{
    margin: auto;
}

#KeranjangBox #listKeranjang table tfoot td{
    padding: 20px 15px;
    border-bottom: 1px solid #57d024;
    vertical-align: middle;
}
#KeranjangBox #listKeranjang table tfoot{
    font-weight: 600;
}
#KeranjangBox #listKeranjang table tfoot td:first-child{
    border-left: 1px solid #57d024;
}
#KeranjangBox #listKeranjang table tfoot td:nth-child(2){
    text-align: end;
}
#KeranjangBox #listKeranjang table tfoot td:last-child{
    border-right: 1px solid #57d024;
}

#KeranjangBox .keranjang_blank span{
    display: inline-block;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.flex-center{
    display: flex;align-items: center;width: 100%;justify-content: center;
}

/* //checkout */

#CheckoutBox{
    margin-bottom: 4rem;
}

.title-page {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.form-label {
    display: inline-block;
    margin-bottom: 7px;
    /* font-size: 15px; */
    font-weight: 600;
}

.form-control, .form-select,.select2-container--bootstrap-5 .select2-selection{
    border: 2px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 12px;
    /* font-size: 13px; */
    background-color: #fff;
}
.form-control:not(.form-icon){
    padding: 10px 15px 10px 15px;
    color: black;
    font-weight: 600;
}

.select2-dropdown{
    background: #f9f9f9;
}

#rangkuman {
    /* min-height: 575px; */
    padding: 25px 45px;
}

.border-custom{
    border-color: #57D024!important;
}

.title-checkout {
    margin-bottom: 20px;
    margin-top: 5px;
}

.title-checkout > * {
    display: block;
}

.title-checkout span:first-child {
    font-weight: 600;
    font-size: 22px;
}
.title-checkout span:last-child {
    font-size: 12px;
    color: #A9A9A9;
}

.select2-container--bootstrap-5 .select2-selection{
    min-height: calc(1.5em + 1.2rem + 2px);
    padding: 10px 15px 10px 15px;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered,.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder{
    font-weight: 600;
}

.alamat-button {
    width: 25%!important;
    float: right;
}
.alamat-button::before{
    clear: both;
}
.alamat-button::after{
    clear: both;
}

.box-alamat-top {
    display: flex;
    /* flex: 1 1 auto; */
    flex-wrap: wrap;
    padding: 20px 10px;
    margin-top: 25px;
}
.icon-alamat {
    width: 10%;
    padding-left: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icon-alamat .icon{
    font-size: 30px;
}

.icon-alamat .label-alamat {
    padding-top: 5px;
    font-size: 14px;
    color: #787777;
}

.detail-alamat {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 15px;
}
.list-rangkuman{
    height: 380px;
    overflow-y: auto;
}

.list-rangkuman .card{
    padding-bottom: 30px;
    border: unset;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
}

.list-rangkuman .col-6.list-name {
    font-size: 14px;
    font-weight: 600;
}

.list-rangkuman .col-6.price {
    padding-right: 0;
    text-align: right;
    font-weight: 600;
    color: #6A983C;
    font-size: 17px;
}

.list-rangkuman .col-6.list-qty {
    font-size: 13px;
}

.list-rangkuman .col-6.list-qty span:last-child{
    font-weight: 600;
}

.list-rangkuman::-webkit-scrollbar {
    /* 6px */
    width: 0px; 
    height: 0px;
}
.list-rangkuman::-webkit-scrollbar-thumb {
    background: #D4D4D4;
    border-radius: 7px;
   }
.list-rangkuman::-webkit-scrollbar-thumb:hover{
    background: #d1cdd1;
   }
.list-rangkuman::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.price-total .subtotal, .price-total .total .float-start {
    font-weight: 600;
    margin-bottom: 12px;
}

.price-total .total {
    margin-top: 40px;
}

.price-total .total .float-end {
    color: #6A983C;
    font-size: 25px;
    font-weight: 600;
}

.list-alamat .box-alamat{
    padding: 19px;
    border: 1px solid #57d024;
    margin-bottom: 15px!important;
}
.list-alamat .box-alamat .alamat-label {
    font-weight: 600;
    font-size: 20px;
}

.list-alamat .box-alamat .alamat-desc {
    font-size: 14px;
    margin-top: 5px;
}

a.change-alamat {
    font-size: 13px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #3ba50e;
    font-weight: bold;
}
a.change-alamat:hover{
    cursor:pointer;
    color: #61b33e;
}
.btn-outline-success{
    color: #57d024;
    border-color: #57d024;
}
.btn-outline-success:hover{
    background: #57d024;
    border-color: #57d024;
}

.btn-success{
    background-color: #57d024;
}

.btn-success:hover{
    background-color: #3ca111;
}

@media (min-width: 768px){
    .pe-md-6 {
        padding-right: 6rem!important;
    }
}

/* alamat */

#maps-box{
    width: 100%;
    min-height: 400px;
}


/* successbox */
#SuccessBox{
    min-height: 75vh;
}

.success-box{
    border-color: #57d024;
}

.success-box .card-header{
    text-align: center;
    background: #57d024;
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.success-box .detail-bayar{
    padding: 20px 10px;
    background: #f3f4f5;
    border-radius: 7px;
}

.success-box .detail-bayar .col-4{
    margin-bottom: 5px;
    color: rgba(49,53,59,0.68);
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}
.success-box .row.m-0.ringkasan-pembayaran {
    padding-left: 19px;
    padding-right: 19px;
}
.success-box .ringkasan-pembayaran .col-6,.success-box .ringkasan-pembayaran .col-12{
    padding-left: 0;
    padding-right: 0;
}
.success-box .ringkasan-pembayaran .title{
    font-size: large;
    font-weight: 600;
}
.success-box .ringkasan-pembayaran .col-6{
    font-size: 15px;
}
.success-box .ringkasan-pembayaran .col-6.text-end {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 6px;
}

/* transaksi */

#ListTransaksiBox{
    min-height: 80vh;
}

.form-control.form-icon{
    padding: 10px 40px 10px 15px!important;
    color: black;
    font-weight: 600;
}

span.form-icon{
    position: absolute;
    right: 30px;
    top: 15px;
}

.list-transaksi .box-transaksi{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8A8A8A;
    padding: 20px 0;
    margin-bottom: 15px;
}

.list-transaksi .box-transaksi .image-transaksi{
    width: 20%;
    padding: 30px;
}

.list-transaksi .box-transaksi .image-transaksi img{
    max-width: 100%;
    max-height: 100%;
}

.list-transaksi .box-transaksi .detail-transaksi{
    width: 64%;
    display: flex;
    flex-wrap: wrap;
}

.list-transaksi .box-transaksi .detail-transaksi .label {
    font-size: 15px;
    color: #00000075;
    font-weight: 500;
    text-transform: uppercase;
}

.list-transaksi .box-transaksi .detail-transaksi .value{
    font-size: 17px;
    font-weight: normal;
    color: #000000;
}

.list-transaksi .box-transaksi .detail-transaksi .value img{
    width: 35px;
    height: auto;
}

.list-transaksi .box-transaksi .button-transaksi{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-transaksi .box-transaksi .button-transaksi a.btn{
    width: unset;
}

.list-transaksi .paging a{
    text-decoration: none;
    color: #5a5a5a;
    cursor: default;
}

.list-transaksi .paging a.active{
    color: #47a220;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

/* profil */
#profilePage{
    min-height: 85vh;
}

.nav-custom > li.nav-item{
    margin-right: 25px;
}

.nav-custom .nav-link {
    color: #9F9F9F;
    font-weight: 600;
    min-width: 130px;
    padding-left: 0;
}

.nav-custom .nav-link.active{
    border: unset;
    border-bottom: 2px solid #57D024;
    font-weight: 600;
    color: black;
}
.tab-custom.tab-content {
    margin-top: 20px;
}

.tab-custom .nav-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
}

.tab-custom .nav-title:not(.clearfix){
    padding-bottom: 20px;
}

#profilePage .biodata {
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
}

#profilePage .biodata div {
    margin-bottom: pad;
    padding: 17px 17px 17px 0;
    border-bottom: 1.5px solid #e6e6e6;
}

#profilePage .biodata .label {
    font-weight: 500;
    font-size: 16px;
}

#profilePage .biodata .value {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.56;
}

.border-1-success{
    border:1px solid #57D024;
}

.box-profil {
    padding: 50px 20px;
}   

.box-profil .image-profile {
    width: 130px;
    margin: auto;
}

.box-profil .image-profile img {
    width: 100%;
    border-radius: 50%;
}

.box-profil .input-file {
    text-align: center;
    margin: 30px 0;
}

.box-profil .input-file label {
    text-transform: capitalize;
    display: inline-block;
    background: #57D024;
    color: white;
    padding: 5px 35px;
}

.box-profil .label {
    font-size: 13px;
}

#profilePage .listalamat{
    padding-top: 30px;
}

#profilePage .listalamat .box-alamat{
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    border: 2px solid #e6e6e6;
    padding: 30px 60px;
    margin-bottom: 20px;
}

#profilePage .listalamat .box-alamat .alamat-detail .label {
    font-weight: 600;
    padding-bottom: 5px;
}

.btn.btn-custom {
    border: 1px solid #E2E1E1;
    min-width: 100px;
}

.btn.btn-custom:not(.btn-success):not(.btn-outline-success):hover{
    background: #f9f7f7;
}

#profilePage .alamat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#profilePage .alamat-button .btn.btn-custom{
    margin-right: 30px;
}

.form-control.is-valid {
    background-image: url(../img/checkmark.svg);
    border: 2px solid #e6e6e6;
}

.form-control.is-invalid {
    background-image: url(../img/cross.svg);
    border: 2px solid #e6e6e6;
}

.form-control.is-invalid:focus,.form-control.is-valid:focus{
    outline: none;
    border: 2px solid #e6e6e6;
}

#password-nav form {
    padding: 3.5rem 0 3.5rem 3.5rem;
}
#password-nav form label{
    font-weight: bold;
}

#password-nav form .form-box{
    align-items: center;
    margin-bottom: 3rem;
}

label.is-invalid {
    display: inline-block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 502!important;
    color: #EF4242;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-tip,.custom-swal .swal2-success.swal2-icon-show .swal2-success-line-long{
    background: white;
    z-index: 3;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
    background: #57D024!important;
}

.custom-swal .swal2-success.swal2-icon-show .swal2-success-ring{
   border: 0.25em solid #57d0244d;
}

.custom-swal .swal2-icon.swal2-error {
    border-color: #EF4242;
    color: #f27474;
}

.custom-swal .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color:#EF4242;
}

#imageCrop{
    display: block;
    width: 100%;
}

.cropper-container.cropper-bg{
    max-width: 470px;
}